{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
  <div class="row">
    <div class="col-md-4">
      <img src="https://image.tmdb.org/t/p/w500/{{ movie.poster_path }}" class="img-fluid" alt="{{ movie.title }}">
    </div>
    <div class="col-md-8">
      <h1>{{ movie.title }}</h1>
      <p>{{ movie.overview }}</p>
      <h3>Trailer</h3>
      {% if trailer.results %}
        <div id="trailer">
          <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ trailer.results.0.key }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
      {% else %}
        <p>No trailer available</p>
      {% endif %}
      <h3>Download</h3>
      <p>
        {% for link in download.results %}
          <a href="{{ link.url }}">{{ link.type }}</a>
        {% endfor %}
      </p>
    </div>
  </div>
</div>
{% endblock %}
